


<!-- Start single page header -->
<section id="single-page-header">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single-page-header-left">
            <h2>Optimization</h2>
            <p>WORK FASTER ON YOUR COMPUTERS WITH SUPPORT FROM TECHMAXWELL. CALL TOLL FREE 1 877 770 0329.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single-page-header-right">
            <ol class="breadcrumb">
              <li><%= link_to 'Home', root_path,
                              :data => { :no_turbolink => true } %></li>
              <li class="active">Optimization</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End single page header -->

<!-- Start blog archive -->
<section id="blog-archive">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-archive-area">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="blog-archive-left">
                <!-- Start blog news single -->
                <article class="blog-news-single">
                  <div class="blog-news-img" style="width: 80% !important; margin-left: 10%;">
                    <img src="/assets/setup_install.jpg" alt="image">
                  </div>
                  <div class="blog-news-title">
                    <h2>Work faster on your computers with support from Techmaxwell. Call toll free 1 877 770 0329.</h2>
                    <p>Even computers with latest & powerful generation processor and gigabytes of RAM, old files build up on your hard drive and all the adding and removing of software leaves behind quite a mess, all these factors reduce the efficiency of your computer, which means you don’t get the performance you deserve.</p>
                    <!--<p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>-->
                  </div>

                  <h1>What will you get?</h1>
                  <h3>Make Your Computer Work Like New</h3>

                  <li>Speed up your computer</li>
                  <li>Removing junk files</li>
                  <li>Fixing Registry errors</li>
                  <li>Defragmenting the hard disk</li>

                  <h3>Faster Booting and Shutdown</h3>
                  <li>Application runs better</li>
                  <li>Reduce your computer’s start-up and shutdown time</li>
                  <li>Faster speed</li>

                  <h3>Optimize the Performance</h3>


                  <li>Deletion of unwanted files</li>
                  <li>Remove unnecessary background processes</li>
                  <h3>Update Software and Drivers</h3>
                  <li>Optimizing outdated/corrupted applications or drivers</li>
                  <li>Increase in the speed of your computer</li>
                  <li>Downloading the latest versions and update them for optimum performance</li>











                  <!--<div class="blog-news-details blog-single-details">-->
                  <!--<p>Even computers with latest & powerful generation processor and gigabytes of RAM, old files build up on your hard drive and all the adding and removing of software leaves behind quite a mess, all these factors reduce the efficiency of your computer, which means you don’t get the performance you deserve.</p>-->

                  <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of <a href="#">text</a></p>-->
                  <!--<blockquote>-->
                  <!--<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from</p>-->
                  <!--<span> - John Doe</span>-->
                  <!--</blockquote>-->
                  <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>-->
                  <!--<ul>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--</ul>-->
                  <!--<ol>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--<li>There are many variations of passages of Lorem Ipsum</li>-->
                  <!--</ol>-->
                  <!--<h1>This is H1 Title Example</h1>-->
                  <!--<h2>This is H2 Title Example</h2>-->
                  <!--<h3>This is H3 Title Example</h3>-->
                  <!--<h4>This is H4 Title Example</h4>-->
                  <!--<h5>This is H5 Title Example</h5>-->
                  <!--<h6>This is H6 Title Example</h6>-->
                  <!--<div class="blog-single-bottom">-->
                  <!--<div class="row">-->
                  <!--<div class="col-md-8">-->
                  <!--<div class="blog-single-tag">-->
                  <!--<span class="fa fa-tags"></span>-->
                  <!--<a href="#">Design,</a>-->
                  <!--<a href="#">Photoshop,</a>-->
                  <!--<a href="#">Development</a>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-4">-->
                  <!--<div class="blog-single-social">-->
                  <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                  <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
                  <!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
                  <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
                  <!--<a href="#"><i class="fa fa-pinterest"></i></a>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</div>-->
                </article>
                <!-- Start blog navigation -->
                <!--<div class="blog-navigation-area">-->
                <!--<div class="blog-navigation-prev">-->
                <!--<a href="#">-->
                <!--<h5>All about writing story</h5>-->
                <!--<span>Previous Post</span>-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="blog-navigation-next">-->
                <!--<a href="#">-->
                <!--<h5>All about friends story</h5>-->
                <!--<span>Next Post</span>-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->
                <!-- Start Comment box -->
                <!--<div class="comments-box-area">-->
                <!--<h2>Leave a Comment</h2>-->
                <!--<p>Your email address will not be published.</p>-->
                <!--<form action="" class="comments-form">-->
                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Your Name">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<input type="email" class="form-control" placeholder="Email">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<textarea placeholder="Comment" rows="3" class="form-control"></textarea>-->
                <!--</div>-->
                <!--<button class="comment-btn">Submit Comment</button>-->
                <!--</form>-->
                <!--</div>-->
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End blog archive -->

<!-- Start subscribe us -->
<section id="subscribe">
  <div class="subscribe-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="subscribe-area">
            <h2>Subscribe Newsletter</h2>
            <form action="" class="subscrib-form">
              <input type="text" placeholder="Enter Your E-mail..">
              <button class="subscribe-btn" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End subscribe us -->

<!-- Start footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="footer-left">
          <p>Designed by <a href="http://www.markups.io/">MarkUps.io</a></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="footer-right">
          <a href="index.html"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>