<!--<div id="preloader">-->
  <!--<div id="status">&nbsp;</div>-->
<!--</div>-->
<!-- END PRELOADER -->

<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start header -->
<header id="header ">
  <!-- header top search -->
  <div class="header-top navbar-fixed-top">
    <div class="container">
      <form action="">
        <div id="search">
          <input type="text" placeholder="Type your search keyword here and hit Enter..." name="s" id="m_search" style="display: inline-block;">
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- header bottom -->
  <div class="header-bottom navbar-fixed-top" style="background-color: #2bcdc1 !important">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="header-contact">
            <ul>
              <li>
                <div class="phone">
                  <i class="fa fa-phone"></i>
                  +1(800) 699-7071
                </div>
              </li>
              <li>
                <div class="mail">
                  <i class="fa fa-envelope"></i>
                  iam@domain.com
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="header-login">
            <a class="login modal-form" data-target="#login-form" data-toggle="modal" href="#">Login / Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End header -->
</br>
</br>
<!-- Start login modal window -->
<div aria-hidden="false" role="dialog" tabindex="-1" id="login-form" class="modal leread-modal fade in">
  <div class="modal-dialog">
    <!-- Start login section -->
    <div id="login-content" class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-unlock-alt"></i>Login</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:user, :url => user_session_path(:user)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
            <!--<input type="text" placeholder="Email" name="" class="form-control">-->
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
            <!--<input type="password" placeholder="Password" class="form-control">-->
          </div>

          <div class="loginbox">
            <%# if devise_mapping.rememberable? -%>
            <label><input type="checkbox" name="user[remember_me]"><span>Remember me</span></label>
            <%# end -%>
            <button class="btn signin-btn" type="button">SIGN IN</button>
          </div>
       <% end %>
      </div>
      <div class="modal-footer footer-box">
        <a href="#">Forgot password ?</a>
        <span>No account ? <a id="signup-btn" href="#">Sign Up.</a></span>
      </div>
    </div>
    <!-- Start signup section -->
    <div id="signup-content" class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-lock"></i>Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:user, :url => user_registration_path(:user)) do |f| %>
          <div class="form-group">
            <input placeholder="Name" class="form-control">
          </div>
          <div class="form-group">
            <input placeholder="Username" class="form-control">
          </div>
          <div class="form-group">
            <input placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <div class="signupbox">
            <span>Already got account? <a id="login-btn" href="#">Sign In.</a></span>
          </div>
          <div class="loginbox">
            <label><input type="checkbox"><span>Remember me</span><i class="fa"></i></label>
            <button class="btn signin-btn" type="button">SIGN UP</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End login modal window -->

<!-- BEGIN MENU -->
<section id="menu-area">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- LOGO -->
        <!-- TEXT BASED LOGO -->
        <%= link_to 'TechMaxwell', root_path,
                    :data => { :no_turbolink => true }, :class => 'navbar-brand' %>
        <!--<a class="navbar-brand" href="index.html">TechMaxwell</a>-->
        <!-- IMG BASED LOGO  -->
        <!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo"></a> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="feature.html">Feature</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <span class="fa fa-angle-down"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/updating">Updating</a></li>
              <li><a href="/optimization">Optimization</a></li>
              <li><a href="/networking">Networking</a></li>
              <li><a href="/online_backup">Online Backup</a></li>
              <li><a href="/diagnosis_repair">Diagnosis & Repair</a></li>
              <li><a href="/setup_install">Setup & Installation</a></li>
              <li><a href="/virus_removal">Virus Removal</a></li>


            </ul>
          </li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="fa fa-angle-down"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="blog-archive.html">Blog Archive</a></li>
              <li><a href="blog-single-with-left-sidebar.html">Blog Single with Left Sidebar</a></li>
              <li><a href="blog-single-with-right-sidebar.html">Blog Single with Right Sidebar</a></li>
              <li><a href="blog-single-with-out-sidebar.html">Blog Single with out Sidebar</a></li>
            </ul>
          </li>
          <!--<li><a href="404.html">404 Page</a></li>-->
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      <a href="#" id="search-icon">
        <i class="fa fa-search">
        </i>
      </a>
    </div>
  </nav>
</section>
<!-- END MENU -->

<div id="feedback">
  <div id="feedback-form" style='display:none;' class="col-xs-4 col-md-4 panel panel-default">
    <%= form_for Feedback.new do |f| %>
    <!--<form method="POST" action="/feedback" class="form panel-body" role="form">-->
        <h3>Feedback Form</h3>
        <hr>
      <div class="form-group">
        <input class="form-control" name="feedback[name]" required autofocus placeholder="Your Full Name" type="name" />
      </div>
      <div class="form-group">
        <input class="form-control" name="feedback[email]" required placeholder="Your e-mail" type="email" />
      </div>
      <div class="form-group">
        <input class="form-control" name="feedback[contact]" required placeholder="Your Contact No." type="contact" />
      </div>
      <div class="form-group">
        <textarea class="form-control" name="feedback[description]" required placeholder="Please write your feedback here..." rows="5"></textarea>
      </div>
      <button class="btn btn-primary pull-right" type="submit">Send</button>
    <!--</form>-->
     <% end %>
  </div>
  <div id="feedback-tab">Feedback</div>
</div>