<!-- BEGAIN PRELOADER -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>



<!-- Start slider -->
<section id="slider">
  <div class="main-slider">
    <div class="single-slide">
      <%= image_tag("slider-1.jpg") %>
      <!--<img src="/assets/slider-1.jpg" alt="img">-->
      <div class="slide-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="slide-article">
                <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Creative Design & Best Feature</h1>
                <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="slider-img wow fadeInUp">
                <%= image_tag("person1.png") %>
                <!--<img src="/assets/person1.png" alt="business man">-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slide">
      <%= image_tag("slider-3.jpg") %>
      <!--<img src="/assets/slider-3.jpg" alt="img">-->
      <div class="slide-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="slide-article">
                <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">We are Best Team & Support you always</h1>
                <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="slider-img wow fadeInUp">
                <%= image_tag("person2.png") %>
                <!--<img src="/assets/person2.png" alt="business man">-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End slider -->

<!-- Start Feature -->
<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
          <h2 class="title">Features</h2>
          <span class="line"></span>
          <p>our company provides the various solutions for computers and software</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="feature-content">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="single-feature wow zoomIn">
                <i class="fa fa-rocket feature-icon"></i>
                <h4 class="feat-title">Optimization</h4>
                <p>Computers are designed to be fast, smart and responsive. Your system will work like it did on the day you bought it! Just Imagine!</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-feature wow zoomIn">
                <i class="fa fa-mobile feature-icon"></i>
                <h4 class="feat-title">Diagnosis & Repair</h4>
                <p>A complete comprehensive diagnostic & repair solution for your computer and connected devices. We’ll fix anything!</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-feature wow zoomIn">
                <i class="fa fa-thumbs-o-up feature-icon"></i>
                <h4 class="feat-title">Setup & Install</h4>
                <p>If you feel overwhelmed or confused by trying to install something new on your computer and what to do with device setup & installation? Leave it to the Tech experts, which means all you've to do is sit back & relax.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-feature wow zoomIn">
                <i class="fa fa-gears feature-icon"></i>
                <h4 class="feat-title">Virus Removal</h4>
                <p>Online threats, viruses, hackers! Isn’t your head spinning already? If you suspect that your computer has been infected, don’t panic. Call us! To optimize your security infrastructure.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-feature wow zoomIn">
                <i class="fa fa-code feature-icon"></i>
                <h4 class="feat-title">Networking</h4>
                <p>Expert tech support in networking brings many benefits to a home or business with multiple computers and networks, smart devices, connect to the Internet, and manage servers.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-feature wow zoomIn">
                <i class="fa fa-smile-o feature-icon"></i>
                <h4 class="feat-title">Awesome Support</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feature -->

<!-- Start about  -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
          <h2 class="title">About us</h2>
          <span class="line"></span>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="about-content">
          <div class="row">
            <div class="col-md-6">
              <div class="our-skill">
                <h3>Our Skills</h3>
                <div class="our-skill-content">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                  <div class="progress">
                    <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="100">
                      <span class="progress-title">Html5</span>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="85">
                      <span class="progress-title">Css3</span>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="70">
                      <span class="progress-title">JQuery</span>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="60">
                      <span class="progress-title">wordPress</span>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="40">
                      <span class="progress-title">Php</span>
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="25">
                      <span class="progress-title">Java</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="why-choose-us">
                <h3>Why Choose Us?</h3>
                <div class="panel-group why-choose-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Awesome Design Layout <span class="fa fa-minus-square"></span>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <%= image_tag("testi1.jpg", class: "why-choose-img") %>
                        <!--<img class="why-choose-img" src="/assets/testi1.jpg" alt="img">-->
                        <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default ">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          Quality Coding <span class="fa fa-plus-square"></span>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          Great Support <span class="fa fa-plus-square"></span>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about -->

<!-- Start counter -->
<section id="counter">
  <div class="counter-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="counter-area">
            <div class="row">
              <!-- Start single counter -->
              <div class="col-md-3 col-sm-6">
                <div class="single-counter">
                  <div class="counter-icon">
                    <i class="fa fa-suitcase"></i>
                  </div>
                  <div class="counter-no counter">
                    1275
                  </div>
                  <div class="counter-label">
                    Projects
                  </div>
                </div>
              </div>
              <!-- End single counter -->
              <!-- Start single counter -->
              <div class="col-md-3 col-sm-6">
                <div class="single-counter">
                  <div class="counter-icon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                  <div class="counter-no counter">
                    5275
                  </div>
                  <div class="counter-label">
                    Hours Work
                  </div>
                </div>
              </div>
              <!-- End single counter -->
              <!-- Start single counter -->
              <div class="col-md-3 col-sm-6">
                <div class="single-counter">
                  <div class="counter-icon">
                    <i class="fa fa-trophy"></i>
                  </div>
                  <div class="counter-no counter">
                    350
                  </div>
                  <div class="counter-label">
                    Awards
                  </div>
                </div>
              </div>
              <!-- End single counter -->
              <!-- Start single counter -->
              <div class="col-md-3 col-sm-6">
                <div class="single-counter">
                  <div class="counter-icon">
                    <i class="fa fa-users"></i>
                  </div>
                  <div class="counter-no counter">
                    875
                  </div>
                  <div class="counter-label">
                    Clients
                  </div>
                </div>
              </div>
              <!-- End single counter -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End counter -->


<!-- Start Service -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
          <h2 class="title">How It Works</h2>
          <span class="line"></span>
          <p>Fast, convenient and secure remote IT diagnostics and

            resolution - any issue, any device, anywhere!</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="service-content">
          <div class="row">
            <!-- Start single service -->
            <div class="col-md-4 col-sm-6">
              <div class="single-service wow zoomIn">
                <i class="fa fa-phone service-icon"></i>
                <h4 class="service-title">1. Call Toll-free Number</h4>
                <p>Ring us at 1-800- 852-6035 - our genteel, knowledgeable experts are

                  standing by to assist!</p>
              </div>
            </div>
            <!-- End single service -->
            <!-- Start single service -->
            <div class="col-md-4 col-sm-6">
              <div class="single-service wow zoomIn">
                <i class="fa fa-desktop service-icon"></i>
                <h4 class="service-title">2. Remote Login</h4>
                <p>We can access your computer remotely and securely to troubleshoot any

                  issue-anytime, anyplace!</p>
              </div>
            </div>
            <!-- End single service -->
            <!-- Start single service -->
            <div class="col-md-4 col-sm-6">
              <div class="single-service wow zoomIn">
                <i class="fa fa-wrench service-icon"></i>
                <h4 class="service-title">3. Computer Fixed!</h4>
                <p>Our certified experts troubleshoot and repair issues, and take steps to

                  prevent future events.</p>
              </div>
            </div>
            <!-- End single service -->
            <!-- Start single service -->

            <!-- End single service -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service -->

<!-- Start Pricing table -->
<section id="pricing-table">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
          <h2 class="title">Our Pricing Tables</h2>
          <span class="line"></span>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="pricing-table-content">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="single-table-price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                <div class="price-header">
                  <span class="price-title">Basic</span>
                  <div class="price">
                    <sup class="price-up">$</sup>
                    25
                    <span class="price-down">/mo</span>
                  </div>
                </div>
                <div class="price-article">
                  <ul>
                    <li>2GB Space</li>
                    <li>10GB Bandwidth</li>
                    <li>Free Domain</li>
                    <li>Free Email</li>
                    <li>Unlimited Support</li>
                  </ul>
                </div>
                <div class="price-footer">
                  <a class="purchase-btn" href="#">Purchase</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="single-table-price wow fadeInUp" data-wow-duration="0.75s" data-wow-delay="0.75s">
                <div class="price-header">
                  <span class="price-title">Advanced</span>
                  <div class="price">
                    <sup class="price-up">$</sup>
                    50
                    <span class="price-down">/mo</span>
                  </div>
                </div>
                <div class="price-article">
                  <ul>
                    <li>2GB Space</li>
                    <li>10GB Bandwidth</li>
                    <li>Free Domain</li>
                    <li>Free Email</li>
                    <li>Unlimited Support</li>
                  </ul>
                </div>
                <div class="price-footer">
                  <a class="purchase-btn" href="#">Purchase</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="single-table-price featured-price wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                <div class="price-header">
                  <span class="price-title">Professional</span>
                  <div class="price">
                    <sup class="price-up">$</sup>
                    100
                    <span class="price-down">/mo</span>
                  </div>
                </div>
                <div class="price-article">
                  <ul>
                    <li>2GB Space</li>
                    <li>10GB Bandwidth</li>
                    <li>Free Domain</li>
                    <li>Free Email</li>
                    <li>Unlimited Support</li>
                  </ul>
                </div>
                <div class="price-footer">
                  <a class="purchase-btn" href="#">Purchase</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="single-table-price wow fadeInUp" data-wow-duration="1.15s" data-wow-delay="1.15s">
                <div class="price-header">
                  <span class="price-title">Exclusive</span>
                  <div class="price">
                    <sup class="price-up">$</sup>
                    125
                    <span class="price-down">/mo</span>
                  </div>
                </div>
                <div class="price-article">
                  <ul>
                    <li>2GB Space</li>
                    <li>10GB Bandwidth</li>
                    <li>Free Domain</li>
                    <li>Free Email</li>
                    <li>Unlimited Support</li>
                  </ul>
                </div>
                <div class="price-footer">
                  <a class="purchase-btn" href="#">Purchase</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing table -->

<!-- Start Pricing table -->
<!--<section id="our-team">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<div class="title-area">-->
          <!--<h2 class="title">Our Team</h2>-->
          <!--<span class="line"></span>-->
          <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-12">-->
        <!--<div class="our-team-content">-->
          <!--<div class="row">-->
            <!--&lt;!&ndash; Start single team member &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
              <!--<div class="single-team-member">-->
                <!--<div class="team-member-img">-->
                  <!--<img src="/assets/team-member-2.png" alt="team member img">-->
                <!--</div>-->
                <!--<div class="team-member-name">-->
                  <!--<p>John Doe</p>-->
                  <!--<span>CEO</span>-->
                <!--</div>-->
                <!--<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
                <!--<div class="team-member-link">-->
                  <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                  <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
                  <!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Start single team member &ndash;&gt;-->
            <!--&lt;!&ndash; Start single team member &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
              <!--<div class="single-team-member">-->
                <!--<div class="team-member-img">-->
                  <!--<img src="/assets/team-member-1.png" alt="team member img">-->
                <!--</div>-->
                <!--<div class="team-member-name">-->
                  <!--<p>Bernice Neumann</p>-->
                  <!--<span>Designer</span>-->
                <!--</div>-->
                <!--<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
                <!--<div class="team-member-link">-->
                  <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                  <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
                  <!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Start single team member &ndash;&gt;-->
            <!--&lt;!&ndash; Start single team member &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
              <!--<div class="single-team-member">-->
                <!--<div class="team-member-img">-->
                  <!--<img src="/assets/team-member-3.png" alt="team member img">-->
                <!--</div>-->
                <!--<div class="team-member-name">-->
                  <!--<p>Dvid Cameron</p>-->
                  <!--<span>Developer</span>-->
                <!--</div>-->
                <!--<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
                <!--<div class="team-member-link">-->
                  <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                  <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
                  <!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Start single team member &ndash;&gt;-->
            <!--&lt;!&ndash; Start single team member &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
              <!--<div class="single-team-member">-->
                <!--<div class="team-member-img">-->
                  <!--<img src="/assets/team-member-1.png" alt="team member img">-->
                <!--</div>-->
                <!--<div class="team-member-name">-->
                  <!--<p>Bernice Neumann</p>-->
                  <!--<span>Designer</span>-->
                <!--</div>-->
                <!--<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>-->
                <!--<div class="team-member-link">-->
                  <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                  <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
                  <!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Start single team member &ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!-- End Pricing table -->

<!-- Start Testimonial section -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="title-area">
              <h2 class="title">Whats Client Say</h2>
              <span class="line"></span>
            </div>
          </div>
          <div class="col-md-12">
            <!-- Start testimonial slider -->
            <div class="testimonial-slider">
              <!-- Start single slider -->
              <div class="single-slider">
                <div class="testimonial-img">
                  <%= image_tag("testi1.jpg") %>
                  <!--<img src="/assets/testi1.jpg" alt="testimonial image">-->
                </div>
                <div class="testimonial-content">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  <h6>Bernice Neumann, <span>Designer</span></h6>
                </div>
              </div>
              <!-- Start single slider -->
              <div class="single-slider">
                <div class="testimonial-img">
                  <%= image_tag("testi3.jpg") %>
                  <!--<img src="/assets/testi3.jpg" alt="testimonial image">-->
                </div>
                <div class="testimonial-content">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  <h6>John Dow, <span>CEO</span></h6>
                </div>
              </div>
              <!-- Start single slider -->
              <div class="single-slider">
                <div class="testimonial-img">
                  <%= image_tag("testi2.jpg") %>
                  <!--<img src="/assets/testi2.jpg" alt="testimonial image">-->
                </div>
                <div class="testimonial-content">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  <h6>Michel, <span>Developer</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>
<!-- End Testimonial section -->

<!-- Start Clients brand -->
<section id="clients-brand">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="clients-brand-area">
          <ul class="clients-brand-slide">
            <li class="col-md-3">
              <div class="single-brand">
                <%= image_tag("amazon.png") %>
                <!--<img src="/assets/amazon.png" alt="img">-->
              </div>
            </li>
            <li class="col-md-3">
              <div class="single-brand">
                <%= image_tag("discovery.png") %>
                <!--<img src="/assets/discovery.png" alt="img">-->
              </div>
            </li>
            <li class="col-md-3">
              <div class="single-brand">
                <%= image_tag("envato.png") %>
                <!--<img src="/assets/envato.png" alt="img">-->
              </div>
            </li>
            <li class="col-md-3">
              <div class="single-brand">
                <%= image_tag("tuenti.png") %>
                <!--<img src="/assets/tuenti.png" alt="img">-->
              </div>
            </li>
            <li class="col-md-3">
              <div class="single-brand">
                <%= image_tag("amazon.png") %>
                <!--<img src="/assets/amazon.png" alt="img">-->
              </div>
            </li>
            <li class="col-md-3">
              <div class="single-brand">
                <%= image_tag("discovery.png") %>
                <!--<img src="/assets/discovery.png" alt="img">-->
              </div>
            </li>
            <li class="col-md-3">
              <div class="single-brand">
                <%= image_tag("envato.png") %>
                <!--<img src="/assets/envato.png" alt="img">-->
              </div>
            </li>
            <li class="col-md-3">
              <div class="single-brand">
                <%= image_tag("tuenti.png") %>
                <!--<img src="/assets/tuenti.png" alt="img">-->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Clients brand -->

<!-- Start latest news -->
<section id="latest-news">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
          <h2 class="title">Latest News</h2>
          <span class="line"></span>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="latest-news-content">
          <div class="row">
            <!-- start single latest news -->
            <div class="col-md-4">
              <article class="blog-news-single">
                <div class="blog-news-img">
                  <a href="blog-single-with-right-sidebar.html"><%= image_tag("blog-img-1.jpg") %></a>
                </div>
                <div class="blog-news-title">
                  <h2><a href="blog-single-with-right-sidebar.html">All about writing story</a></h2>
                  <p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>
                </div>
                <div class="blog-news-details">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                  <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                </div>
              </article>
            </div>
            <!-- start single latest news -->
            <div class="col-md-4">
              <article class="blog-news-single">
                <div class="blog-news-img">
                  <a href="blog-single-with-right-sidebar.html"><%= image_tag("blog-img-2.jpg") %></a>
                </div>
                <div class="blog-news-title">
                  <h2><a href="blog-single-with-right-sidebar.html">Best Mobile Device</a></h2>
                  <p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>
                </div>
                <div class="blog-news-details">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                  <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                </div>
              </article>
            </div>
            <!-- start single latest news -->
            <div class="col-md-4">
              <article class="blog-news-single">
                <div class="blog-news-img">
                  <a href="blog-single-with-right-sidebar.html"><%= image_tag("blog-img-3.jpg") %></a>
                </div>
                <div class="blog-news-title">
                  <h2><a href="blog-single-with-right-sidebar.html">Personal Note Details</a></h2>
                  <p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>
                </div>
                <div class="blog-news-details">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                  <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End latest news -->

<!-- Start subscribe us -->
<section id="subscribe">
  <div class="subscribe-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="subscribe-area">
            <h2 class="wow fadeInUp">Subscribe Newsletter</h2>
            <form action="" class="subscrib-form wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
              <input type="text" placeholder="Enter Your E-mail..">
              <button class="subscribe-btn" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End subscribe us -->

<!-- Start footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="footer-left">
          <p>Designed by <a href="http://www.markups.io/">MarkUps.io</a></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="footer-right">
          <a href="index.html"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>